#planes {
    background-color: var(--secundario);
    padding: 4rem 0;
}

@media (min-width: 768px) {
    #planes {
        padding: 8rem 0;
    }
}

.descripcion {
    color: var(--blanco);
}

.planes-list {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .planes-list {
        flex-direction: row;
    }
}

.plan .negocio {
    order: -1;
}

@media (min-width: 768px) {
    .plan .negocio {
        order: unset;
    }
}